body{font-family: helvetica, Arial, sans-serif;}

.container{
	margin:0 auto;
	background-color: #efefef;
	max-width:1200px;
}

.box
{
	background-color: #8ea86e;
	color:#fff;
	border-radius: 5px;
	padding:28px;
	text-align:center;
	margin:10px;
}

.logo
{
	width:50%;
	display:inline-block
	
}


#burgerCon
{
	
	margin-bottom: 20px;
	position:fixed;
	top:60px;
	width:100%;
	background-color:#600606;
	display:none;
}
.show-mobile-nav{display:block !important; }
#burgerCon li 

{
	padding: 20px; 
	border-top:thin solid #666;
	text-align:center;
}

#burgerCon a
{
	text-decoration: none;
	color:#8ea86e;

}
@media screen and (min-width: 600px){
	#mainHeader{
		display:flex;
		flex-direction: row;
	}
	.box{flex: 1 1 auto;}
	

	.nav{flex: 0 1 600px;}
	

	.logo

	{
		order: -1;
		flex: 0 1 220px;
		margin: 0 0 0 10px;
	}
	#products
	{
		display:flex;
		flex-direction: row;
	}
}
@media screen and (min-width: 375px){
	#mainHeader
	{
		display:flex;
		flex-direction: row
	}

	.logo
	{
		width:25%;
		order: -1;
		margin-left: 10px;
		margin-right:auto;
	}
	.nav
	{
		min-width:25%;
		float:right;
	}
	


}
